*{
    box-sizing: border-box;
    /* Padding, border RESTA al width */
    padding: 0;
    margin: 0;
}

html{
    font-size: 75%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1{
    font-size: inherit;
    /* Inheritance from html label  */
}

section{
    width: 100%;
    height: 500px;
    border: 10px solid gray;
    padding: 20px 35px;
    /* First 20px top & buttom */
    /* Second 35 left 6 rigth */
}