.main-nav{
    margin-top: 10px;
    list-style: none;
    padding-left: 0;
    background-color: #13A4A4;
}

.main-nav__item{
    display: inline-block;
}

.main-nav__item a{
    color: white;
    padding: 5px;
    border-radius: 2px;
    text-decoration: none;
    background-color: red;
}

/* Pseudoclases hover, active */

.main-nav__item a:hover{
    color: #000000;
}

.main-nav__item a:active{
    background-color: white;
}

/* Pseudoelementos */

.main-nav__item a::after{
    content: "  |  ";
}